.outer-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008B8B;
}

.inner-chat {
  width: 80%;
  height: 80%;
  margin: solid black 10px;
  min-height: 80vh;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column; 
}

.header {
  background-color: black;
  flex: 1;
  height: 10%;
  color: white;
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.belowHeader{
  border-radius: 5% !important;
  flex: 9;
  display: flex;
}
.chatArea{ 
  background-color: #ffff;
  flex: 7;
  order:2;
  display: flex;
  flex-direction: column;
}
.userList{
  background-color: black;
  min-height: 28vh;
  color: white;
  flex: 3;
  order: 1;
  display: flex;
  flex-direction: column;
}
.userList-header{
  flex: 1;
  justify-content: center;
   align-items: center; 
  text-align: center; 

}
.userList-body{
  flex: 9;
  width: 100%;
  padding: 2%;
  overflow-y: auto;
}
.chat-body {
  min-height: 60vh;
  max-height: 65vh; 
  overflow-y: auto;
}
.footer{
  flex: 1;
}
.scroll{
  height: 100%;
 
}
.chat-textBox{
  background-color: #708090;
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  text-size-adjust: 20px;
}

 .original-message{
  text-align: right;
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 180px;
  background-color: #1abc9c;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 
 .meta-time{
  margin-left: 10px;
  font-weight: bold;
  font-size: 10px;
  max-width: 120px;
  overflow-wrap: break-word;
  word-break: break-word;

}
.meta-username{
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
  max-width: 150px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.message {
  height: auto;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

#author {
  justify-content: flex-end;
}

#author .original-message {
  justify-content: flex-end;
}

#author .meta-message {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .original-message {
  justify-content: flex-start;
  background-color: rgb(181, 207, 233);
  color: black  ;
}

#other .meta-message {
  justify-content: flex-start;
  margin-right: 5px;
}

.meta-message #author {
  margin-left: 10px;
  font-weight: bold;
} 


.everyUser{
  color: rgb(8, 8, 8);
  font-weight: bold;
  background-color: rgb(186, 215, 231);
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 

 ::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: #555; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(24, 160, 170); 
  border-radius: 10px;
} 



@media (max-width: 768px) {
  .belowHeader {
    flex-direction: column-reverse;
  }
  
  .inner-chat{
        margin: 2vh ;
  }
  .userList {
    max-height: 28vh !important;
    border-radius: 5%;
  }
  .footer{
    min-height: 5vh;
    background-color: #008B8B;
  }
  .chat-textBox{
      min-height: 5vh;
      margin-bottom:2vh;
  }
  

}

@media (min-width: 769px) and (max-width: 1024px) {
  .outer-chat {
    height: 90vh; 
  }

}

@media (min-width: 1025px) {
  .outer-chat {
    height: 100vh; 
  }
  
}